body {
	background-image: url(../images/congruent_outline.png);
	font-family: 'Open Sans', sans-serif !important;
	font-size: 20px;
}
	
h1 {
	text-align: center;
}

h3 {
	font-size: 20px !important;
	margin-top: 10px !important;
	color: white !important;
	padding-left: 20px;
}


span {
	position: absolute;
	top: 0;
	height: 40px;
	width: 100%;
	background-color: #545455;
	border-bottom: solid grey 1px;

}

p {
	position: absolute;
	bottom: 0;
	color: black;
	padding-bottom: 2px;
	padding-left: 20px;
}

.question {
	width: 80%;
	height: 90px;
	background-color: lightgrey;
	margin: 10px auto;
	position: relative;

}
.answer {
	width: 80%;
	height: 90px;
	background-color: lightgrey;
	margin: 30px auto 30px auto;
	position: relative;
}
.guesstext {
	position: absolute;
	bottom: 0;
	color: black;
	padding-bottom: 2px;
	padding-left: 20px;
	font-size: 18px;
}


.summary {
	font-size: 35px !important;
}

.start {
	margin: auto;
	width: 130px !important;
	height: 60px !important;
	font-size: 30px;
	font-weight: bold;
}

.outline {
	border: solid grey 1px;
}

.main {
	background-color: #EEEDF1;
	align-items: center;
	padding: 20px;
}

.background {
	background-color: #C9C5C9 !important;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

.timerbox {
	text-align: center;
	padding-top: 11px;
	margin: auto;
	width: 130px !important;
	height: 60px !important;
	font-size: 30px;
	font-weight: bold;
	background-color: lightgrey;
	border: solid 1px darkgrey;
}

